.container{
    width: 500px;
    border: 2px solid #333;
    padding: 10px;
    text-align: center;
}

.card{
    width: 120px;
    height: 100px;  
    background-color: #9b59b6;
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
}

.destaque{
    color: chartreuse;
    display: inline;
}