@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

h1{
    color: #000000;
}
body{
    font-family: "Oswald", sans-serif;
}
h2{
    color: rgba(109, 219, 105, 0.8);
}