.container div{
  border: 1px solid black;
  color: white;
  font-size: 20px;
  background-color: blueviolet;
}

.container{
  display: grid;
  grid-template: repeat(2,150px) / repeat(3,auto);
  /* grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,200px); */
  gap: 20px;
}
